$clr-primary: #fafafa;
$clr-wht: #fafafa;
$clr-dk: #545454;
$sans-serif: sans-serif;
$img-body: url('https://images.unsplash.com/photo-1581196598617-b68a55556441?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60') no-repeat center center;
//https://images.unsplash.com/photo-1504548840739-580b10ae7715?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60
$img-lp: url('https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60') no-repeat center center;
//https://images.unsplash.com/photo-1547499417-61a435d27cb3?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60
#bodyy3 {
  margin: 0;
  overflow: hidden;
}
