
/* =============== first page layout */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  letter-spacing: .6px;
}
a{
  text-decoration: none;
}
.custom-shape-divider-bottom-1599186207 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1599186207 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1599186207 .shape-fill {
  fill: #9A60F2CC;
}

#main{
  width: 100%;
  background-color: burlywood;
  background-image: url('../images/ZLSampleDesk.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
} 

#wave-container{
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 123px;
}
#wave{
  position: relative;
}
#wave-content{
  background: rgba(154, 96, 242,.9);
  height: 163px;
  padding-left: 5%;
}
#wave-content h1{
  padding-top: 20px;
  color:#ffffff;
  font-size: 40px;
  line-height: 50px;
}

header{
  width: 100%;
  height: 65px;
  padding: 0 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(218, 204, 247, 0.897);
  position: absolute;
  top:0;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(113, 49, 249, 0.75);
  -moz-box-shadow:    0px 3px 15px 0px rgba(113, 49, 249, 0.75);
  box-shadow:         0px 3px 15px 0px rgba(113, 49, 249, 0.75);
  z-index: 1001;
}

#ziplyne-logo{
  width:150px;
  height: 100%;
  display: flex;
  align-items: center;
}
#ziplyne-logo img{
  display: block;
  width: 100%;

}
nav a{
  color: #262A94;
  margin-right: 25px;
  border-bottom: 2px transparent #262A94;
  font-size: 18px;
}
nav a:hover{
  border-bottom: 2px solid #262A94;
}
.call-to-action{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.call-to-action button{
  border:none;
  padding: 6px 15px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  margin-right: 25px;
  cursor: pointer;
}
#mobile-nav{

  display: none;
}
#menu-icon{
  width: 30px;
  height:16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.icon-line{
  width: 100%;
  height: 2px;
  background: #262A94;
}
.icon-line:nth-child(2){
  width: 80%;
}
#mobile-items{
  width: 250px;
  position: absolute;
  top:65px;
  right: 0;
  background: rgba(233, 223, 252, 1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  animation: slide-from-right .5s;
}
@keyframes slide-from-right{
  from {right: -150px}
  to {right: 0;}
}
#mobile-items a{
  padding: 20px 0;
  padding-right: 20px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  text-align: right;
}
#mobile-items a:hover{
  background: rgba(215, 194, 253, 0.671);
}

.purple{
background: rgb(154,96,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(154,96,242,1) 0%, rgba(139,76,239,1) 18%, rgba(113,49,249,1) 50%, rgba(139,76,239,1) 85%, rgba(154,96,242,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(154,96,242,1) 0%,rgba(139,76,239,1) 18%,rgba(113,49,249,1) 50%,rgba(139,76,239,1) 85%,rgba(154,96,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(154,96,242,1) 0%,rgba(139,76,239,1) 18%,rgb(113, 49, 249) 50%,rgba(139,76,239,1) 85%,rgba(154,96,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a60f2', endColorstr='#9a60f2',GradientType=0 ); /* IE6-9 */
color: #ffffff;
}

.join-icon{
  width: 20px;
  height: 100%;

}
.join-icon i{
  font-size: 23px;
  color:#888888;
  cursor: pointer;
}
/* ================== second page layout */
#product{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section-title{
  color: #262A94;
  width: 700px;
  margin-top:70px;
  text-align: left;
  padding: 0 5%;
  margin-bottom: 40px;

}
.section-title h1{
  font-weight: 300;
  font-size: 40px;
}
#product-details{
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  z-index: 1;
}
#product-img{
  width: 50%;
  margin-bottom: 40px;
}
#product-img img{
  display: block;
  width: 100%;
}
#about-product{
  position: relative;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#about-product p {
  width: 60%;
  position: absolute;
  font-size: 25px;
  color: #ffffff;
}
#diamond{
  width: 110%;
  position: relative;
  right: -100px;
}
#diamond img{
  width: 100%;
}
#diamond p{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: right;
  transform: translate(-50%, -50%);
}
.banner{
  width: 100%;
  height: 150px;
  background: rgb(205,185,247); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(205,185,247,1) 0%, rgba(156,113,247,1) 47%, rgba(130,76,247,1) 78%, rgba(130,76,247,1) 78%, rgba(125,69,247,1) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(205,185,247,1) 0%,rgba(156,113,247,1) 47%,rgba(130,76,247,1) 78%,rgba(130,76,247,1) 78%,rgba(125,69,247,1) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(205,185,247,1) 0%,rgba(156,113,247,1) 47%,rgba(130,76,247,1) 78%,rgba(130,76,247,1) 78%,rgba(125,69,247,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdb9f7', endColorstr='#7d45f7',GradientType=1 ); /* IE6-9 */
  position: absolute;
  bottom: 0;
  z-index: 0;
}

@media screen and (max-width: 1000px) {
  nav{ 
      display: none;
  }

  .call-to-action{
      display: none;
  }
  #mobile-nav{
      display: flex;
  }
  header{
      position: fixed;
  }
  #mobile-items{
      position: fixed;
  }
  #wave-content h1{
      width: 80%;
      line-height: 35px;
      font-size: 27px;
  }
  .section-title{
      width: 100%;
  }
  .section-title h1{
      width: 80%;
      font-size: 30px;
  }
  #product-details{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 0 5%;
  }
  #product-img{
      width: 100%;
      padding: 0;
  }
  #about-product{
      width: 100%;
  }
  #diamond{
      width: 80%;
      margin: 0 auto;
      right: 0;
      position: relative;
      margin-bottom: 40px;
  }
  #diamond p{
      text-align: center;
      font-size: 3vw;
  }
}